@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Definisi custom variant untuk dark mode di Tailwind v4+ */
@custom-variant dark (&:where(.dark, .dark *));

/* Tambahkan animasi kustom untuk hover card */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
.animate-float {
    animation: float 3s ease-in-out infinite;
}